# Godot-specific
.import/
export.cfg
export_presets.cfg

# Builds
*.pck
*.exe
*.zip
*.apk
*.aab
*.wasm
*.html
*.js

# OS files
.DS_Store
Thumbs.db

# Editor / IDE configs
.vscode/
.idea/

# Logs & Temp files
*.log
*.tmp
