# Godot-specific
.import/
export.cfg
export_presets.cfg

# OS files
.DS_Store
Thumbs.db

# Temporary and cache files
*.tmp
*.log

# Builds
*.exe
*.pck
*.zip
*.apk
*.aab

# Editor / IDE configs
.vscode/
.idea/